svg (version="1.1",xmlns="http://www.w3.org/2000/svg",xmlns:xlink="http://www.w3.org/1999/xlink",x="0px",y="0px",viewBox="0 0 500 500",enable-background="new 0 0 500 500",xml:space="preserve",style="fill:#FFF")
    g(xmlns="http://www.w3.org/2000/svg")
        image(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="/images/PirateBayesian/skull.svg",height="350",width="400",x="50",y="50")
        image(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="/images/PirateBayesian/pb.svg",height="100",width="100",x="150",y="350",transform="rotate(-30 200 400)")
        image(xmlns:xlink="http://www.w3.org/1999/xlink",xlink:href="/images/PirateBayesian/pb.svg",height="100",width="100",x="250",y="350",transform="rotate(50 300 400)")
